#about-top {
  padding-top: 20px;
  @include mq(small_laptop) {
    padding-top: 0;
    margin-top: -33px;
    @include flex();
  }
  @include mq(small_monitor) {
    max-width: 1230px;
    @include margin_lr();
  }
}

#about-top-content {
  @include mq(small_laptop) {
    order: 2;
  }
  @include mq(small_monitor) {
    margin-top: 20px;
  }
}

.paragraph-disclaimer {
  @include type(
    (
      size: 17px,
      height: 25px,
      family: $secondaryfont,
      color: $purpledark,
      weight: 500,
    )
  );
}

#about-top-image {
  @include mq(small_tablet) {
    margin-top: 60px;
  }
  @include mq(small_laptop) {
    order: 1;
    margin-right: 60px;
  }
  @include mq(small_monitor) {
    margin-right: 141px;
  }
  img {
    @include image();
    max-width: 100%;
    @include margin_lr();
    @include mq(small_tablet) {
      max-width: 445px;
    }
  }
}

#about-awards-components {
  padding-top: 15px;
  @include mq(small_tablet) {
    padding: 44px 0px 49px;
  }
  @include mq(small_laptop) {
    padding: 44px 0px 114px;
  }
  @include mq(small_monitor) {
    padding: 100px 0px 114px;
  }
  .awards-component {
    padding-left: 0;
    padding-right: 0;
    @include mq(small_tablet) {
      padding: 44px 0px 11px;
    }
    @include mq(small_laptop) {
      padding: 0px 0px 11px;
      margin-top: 0;
    }
  }
}

#about-bottom {
  margin-bottom: -20px;
  @include flex();
  flex-direction: column;
  @include mq(small_laptop) {
    @include flex(space-between);
    flex-direction: row;
    position: relative;
  }
}

#about-bottom-content {
  order: 2;
  @include mq(small_laptop) {
    order: 1;
    margin-right: 50px;
  }
  @include mq(large_laptop) {
    margin-right: 99px;
  }
  @include mq(small_monitor) {
    margin-right: 120px;
  }
}
#about-spacer {
  @include mq(small_laptop) {
    flex-shrink: 0;
    flex-basis: 500px;
    order: 2;
  }
  @include mq(small_monitor) {
    flex-basis: 668px;
  }
}

#about-video {
  margin-top: 50px;
  margin-bottom: 60px;
  @include mq(small_tablet) {
    margin-bottom: 83px;
    margin-top: 80px;
  }
}

#about-bottom-sidebar {
  padding-top: 10px;
  padding-bottom: 10px;
  @include mq(small_tablet) {
    padding-top: 36px;
  }
  @include mq(small_laptop) {
    @include abs(0, 0, null, null);
    width: 500px;
  }
  @include mq(small_monitor) {
    // flex-shrink: 0;
    padding-top: 60px;
    width: 685px;
  }
  img {
    @include image();
    max-width: 100%;
    @include margin_lr();
    @include mq(small_tablet) {
      max-width: 485px;
    }
  }
}

#about-info-box {
  margin-top: 40px;
  max-width: 615px;
  @include margin_lr();
  @include mq(small_tablet) {
    max-width: 437px;
    margin-top: -92px;
    position: relative;
    z-index: 1;
  }
  @include mq(large_laptop) {
    left: -43px;
  }
  @include mq(small_monitor) {
    left: 0;
    max-width: 545px;
    margin-top: -60px;
    @include margin_lr(0);
  }
}

#about-info-box-inner {
  padding: 35px 15px;
  @include mq(small_tablet) {
    padding: 51px 30px 20px;
  }
  .dots-wrapper {
    margin: 25px 0;
    @include mq(small_tablet) {
      margin: 30px 0;
    }
  }
}

#about-info-box-title {
  display: block;
  padding: 0 30px;
  @include type(
    (
      size: 24px,
      height: 28px,
      family: $secondaryfont,
      color: $purpledark,
      align: center,
      transform: uppercase,
    )
  );
  @media screen and (min-width: 465px) {
    br {
      display: none;
    }
  }
}

#about-info-description {
  max-width: 455px;
  @include margin_lr();
  @include type(
    (
      size: 24px,
      height: 35px,
      family: $primaryfont,
      align: center,
    )
  );
  @include mq(small_tablet) {
    font-size: 27px;
    line-height: 40px;
  }
}

.about-button {
  margin-top: 32px;
  margin-bottom: 10px;
  padding: 6px 18px;
  @include margin_lr();
}
