footer {
  overflow: hidden;
  position: relative;
}

#consultation {
  background: $purpledarkgradient;
  position: relative;
  z-index: 1;
  top: -1px;
  //margin-top: -65px;
  padding: 0 30px 40px;
  @media screen and (min-width: 670px) {
    //margin-top: -30px;
  }
  @include mq(small_tablet) {
    padding: 0px 45px 91px;
    @include margin_lr();
  }
  @include mq(small_laptop) {
    padding: 0 45px 140px;
  }
}

#consultation-inner {
  margin-top: -65px;
  padding-top: 1px;
  @media screen and (min-width: 670px) {
    margin-top: -30px;

    @include margin_lr();
  }
  @media screen and (min-width: 945px) {
    margin-top: 0;
  }
  .dots-wrapper {
    margin-top: 33px;
    @include mq(small_laptop) {
      margin-top: 3px;
    }
    span {
      background: $orangelight;
    }
  }
  .gform_validation_errors {
    display: none;
  }
  .gform_wrapper.gravity-theme {
    margin-top: 35px;
    max-width: 828px;
    @include margin_lr();
    @include mq(small_tablet) {
      margin-top: 45px;
      max-width: 828px;
    }
    @include mq(small_laptop) {
      max-width: 1030px;
    }
    @include mq(large_laptop) {
      max-width: 1068px;
    }
    @include mq(small_monitor) {
    }
    .gfield_description {
      font-family: $secondaryfont;
    }
    .validation_message {
      padding: 12px 10px;
    }
    .gform_fields {
      grid-row-gap: 0px !important;
      display: block !important;
      grid-column-gap: 0 !important;
      @include mq(small_tablet) {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
    .gfield {
      position: relative;
      margin-bottom: 14px !important;
      grid-column: none !important;
      @include mq(small_tablet) {
        flex-basis: calc(50% - 5px);
        margin-bottom: 11px !important;
      }
      @include mq(small_laptop) {
        margin-bottom: 17px !important;
        flex-basis: calc(33% - 7px);
      }
      &::after {
        @include abs(30px, 10px, null, null);
        @include contentdisplay(block, "*");
        @include type(
          (
            size: 17px,
            family: $primaryfont,
            weight: 700,
            color: $orangedark,
          )
        );
      }
      .gfield_label {
        display: none;
      }
      input,
      textarea {
        padding: 0px 20px 0 12px;
        border: none;
        height: 63px;
        width: 100%;
        border-radius: 6px;
        @include type(
          (
            size: 17px,
            family: $secondaryfont,
            color: $black,
          )
        );
      }
      textarea {
        height: 178px;
        padding: 20px 20px 0 12px;
      }
      input::placeholder,
      textarea::placeholder {
        color: $black;
        opacity: 1;
      }
    }
    #field_1_5 {
      flex-basis: 100%;
    }
    #field_1_15 {
      @include mq(small_laptop) {
        flex-basis: 100%;
      }
    }
    .gfield_html {
      width: 100%;
      &::after {
        display: none;
      }
    }
    .my-required {
      display: block;
      @include type(
        (
          size: 17px,
          height: 17px,
          color: $white,
          family: $secondaryfont,
          weight: 500,
          transform: uppercase,
        )
      );
    }
    .gform_footer {
      border-radius: 50px;
      background: rgba(255, 255, 255, 0.15);
      transition: background 200ms ease-in-out;
      padding: 12px;
      margin-top: 35px;
      @include box(155px, 84px);
      @include margin_lr();
      @include mq(small_tablet) {
        margin-top: 10px;
      }
      @include mq(small_laptop) {
        margin-top: -10px;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.6);
      }
      input[type="submit"] {
        border: none;
        cursor: pointer;
        width: 100%;
        background: $oranegradient;
        margin-bottom: 0;
        border-radius: 50px;
        @include box(131px, 60px);
        @include box(100%, 100%);
        @include margin_lr();
        @include type(
          (
            size: 20px,
            family: $secondaryfont,
            color: $white,
            weight: 500,
            align: center,
            transform: uppercase,
          )
        );
      }
      .gform_validation_errors {
        display: none;
      }
    }
  }
}

img#footer-wave {
  display: block;
  width: 1920px;
  margin-left: -660px;
  height: auto;
  @media screen and (min-width: 466px) {
    margin-left: -500px;
  }
  @include mq(small_laptop) {
    margin-left: -340px;
  }
  @include mq(large_laptop) {
    margin-left: -150px;
  }
  @include mq(small_monitor) {
    margin-left: 0px;
    width: 100%;
    height: auto;
  }
}

#footer-form-subtitle {
  display: block;
  text-align: center;
  @include type(
    (
      size: 22px,
      height: 28px,
      family: $secondaryfont,
      color: $orangelight,
      transform: uppercase,
    )
  );
  @include mq(small_laptop) {
    font-size: 24px;
    line-height: 25px;
  }
  @include mq(large_laptop) {
    margin-top: 40px;
  }
}

#footer-form-title {
  display: block;
  margin-top: 5px;
  text-align: center;
  max-width: 260px;
  @include margin_lr();
  @include type(
    (
      size: 45px,
      height: 45px,
      family: $primaryfont,
      color: #fff,
      weight: 500,
    )
  );
  @include mq(small_tablet) {
    font-size: 60px;
    line-height: 55px;
    max-width: 620px;
    margin-top: 27px;
  }
  @include mq(small_laptop) {
    font-size: 90px;
    line-height: 85px;
    max-width: 930px;
    margin-top: 40px;
  }
}

#footer-form-description {
  margin-top: 20px;
  @include type(
    (
      size: 18px,
      height: 28px,
      family: $primaryfont,
      color: #fff,
      align: center,
    )
  );
  @include mq(small_tablet) {
    margin-top: 30px;
    max-width: 620px;
    @include margin_lr();
  }
  @include mq(small_laptop) {
    margin-top: 25px;
  }
  p {
    margin-bottom: 25px;
  }
  a {
    color: $orangedark;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

#footer-contact {
  padding: 0 30px;
}

#contact-inner {
  padding-top: 53px;
  @include mq(small_tablet) {
    padding-top: 60px;
    padding-bottom: 10px;
    max-width: 900px;
    @include margin_lr();
    @include flex(center, null, null, wrap);
  }
  @include mq(small_laptop) {
    flex-wrap: nowrap;
    padding-bottom: 20px;
    justify-content: space-between;
    max-width: 1030px;
  }
  @include mq(large_laptop) {
    padding-top: 66px;
    max-width: 1170px;
  }
  @include mq(small_monitor) {
    padding-top: 113px;
    padding-bottom: 82px;
    max-width: 1270px;
  }
}

.contact-col {
  text-align: center;
  margin-bottom: 50px;
  @include mq(small_tablet) {
    width: 50%;
  }
  @include mq(small_laptop) {
    width: 33%;
  }
  &:first-of-type {
    @include mq(small_tablet) {
      width: 100%;
    }
    @include mq(small_laptop) {
      width: 33%;
    }
  }
}

.contact-title {
  display: block;
  margin-bottom: 15px;
  @include type(
    (
      size: 18px,
      height: 28px,
      family: $secondaryfont,
      color: $orangedark,
      transform: uppercase,
    )
  );
}

#address {
  display: block;
  @include type(
    (
      size: 20px,
      height: 25px,
      family: $primaryfont,
      color: $black,
    )
  );
  .br-tablet {
    display: none;
    @include mq(small_laptop) {
      display: inline-block;
    }
  }
}

a#directions {
  margin-top: 18px;
  display: inline-block;
  text-decoration: none;
  border-radius: 50px;
  padding: 7px 30px;
  background: transparent;
  border: 1px solid $purpledark;
  transition: all 200ms ease-in-out;
  @include type(
    (
      size: 15px,
      family: $secondaryfont,
      color: $purpledark,
      weight: 500,
      align: center,
    )
  );
  &:hover {
    background: $purpledark;
    color: $white;
  }
}

#contact-subtitle {
  display: block;
  margin-bottom: 22px;
  @include type(
    (
      size: 18px,
      family: $primaryfont,
      color: $purpledark,
      weight: 500,
    )
  );
}

#contact-phone {
  display: inline-block;
  @include type(
    (
      size: 35px,
      family: $primaryfont,
      weight: 500,
      color: $black,
    )
  );
}

img#lawpay {
  @include mq(small_laptop) {
    padding-top: 12px;
  }
}

#copyright {
  background: $grey;
  padding: 37px 30px 20px;
  @include mq(small_tablet) {
    padding: 16px 30px 20px;
  }
  @include mq(small_monitor) {
    padding: 30px 30px 25px;
  }
}

#copyright-inner {
  text-align: center;
  @include mq(small_laptop) {
    max-width: 1240px;
    @include margin_lr();
    @include flex(space-between, center);
  }
  @include mq(small_monitor) {
    max-width: 1718px;
  }
  ul {
    list-style: none;
    margin-bottom: 18px;
    max-width: 325px;
    @include margin_lr();
    @include mq(small_tablet) {
      max-width: 100%;
    }
    @include mq(small_laptop) {
      margin-bottom: 0;
      @include margin_lr(0);
    }
    li {
      display: inline;
      @include type(
        (
          size: 14px,
          height: 22px,
          family: $secondaryfont,
          align: center,
          transform: uppercase,
        )
      );
      @include mq(small_tablet) {
        font-size: 15px;
        line-height: 27px;
      }
      a {
        display: inline;
        color: $black;
        text-decoration: none;
        &::before {
          margin: 0 4px 0 0px;
          @include contentdisplay(inline-block, "|");
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

#copyright-meta {
  @include mq(small_tablet) {
    @include flex(center, center);
  }
}

#calc {
  border: 1px solid $purpledark;
  text-decoration: none;
  background: transparent;
  border-radius: 60px;
  padding: 6px 10px;
  @include box(225px, 37px);
  transition: all 200ms ease-in-out;
  @include margin_lr();
  @include flex(center, center);
  @include mq(small_tablet) {
    margin-left: 0;
    margin-right: 30px;
  }
  @include mq(small_laptop) {
    margin-right: 20px;
  }
  svg {
    margin-right: 7px;
    @include box(18px, 23px);
    path {
      fill: $purpledark;
      transition: all 200ms ease-in-out;
    }
  }
  span {
    transition: all 200ms ease-in-out;
    @include type(
      (
        size: 14px,
        height: 14px,
        family: $secondaryfont,
        color: $purpledark,
        weight: 700,
      )
    );
  }
  &:hover {
    background: $purpledark;
    svg {
      path {
        fill: $white;
      }
    }
    span {
      color: $white;
    }
  }
}

#ilawyer {
  margin-top: 35px;
  display: inline-block;
  width: 225px;
  @include mq(small_tablet) {
    margin-top: 0;
  }
  @include mq(small_laptop) {
    width: 235px;
  }
  img {
    @include image();
  }
}
