.button-one {
  position: relative;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.15);
  display: block;
  transition: background 200ms ease-in-out;
  padding: 12px;
  @include margin_lr();
  @include type(
    (
      family: $secondaryfont,
      color: #fff,
      align: center,
    )
  );
  &:hover {
    background: rgba(255, 255, 255, 0.6);
  }
  span {
    background: $oranegradient;
    position: relative;
    border-radius: 50px;
    display: block;
    @include box(100%, 100%);
  }
}

.button-two {
  display: block;
  max-width: max-content;
  border: 1px solid $purpledark;
  padding: 9px 18px;
  border-radius: 50px;
  background: transparent;
  transition: all 200ms ease-in-out;
  @include type(
    (
      size: 17px,
      family: $secondaryfont,
      color: $purpledark,
      weight: 500,
      align: center,
    )
  );
  &:hover {
    background: $purpledark;
    color: #fff;
  }
  &.button-white {
    border: 1px solid $white;
    color: $white;
    background: transparent;
    @include margin_lr();
    &:hover {
      background: $white;
      color: $purplelight;
    }
  }
}

.calc {
  border: 1px solid $purpledark;
  text-decoration: none;
  background: transparent;
  border-radius: 60px;
  padding: 6px 34px;
  max-width: max-content;
  @include box(auto, 37px);
  transition: all 200ms ease-in-out;
  @include margin_lr();
  @include flex(center, center);
  @include mq(small_tablet) {
    margin-left: 0;
    margin-right: 30px;
  }
  @include mq(small_laptop) {
    margin-right: 20px;
  }
  svg {
    margin-right: 7px;
    @include box(18px, 23px);
    path {
      fill: $purpledark;
      transition: all 200ms ease-in-out;
    }
  }
  span {
    transition: all 200ms ease-in-out;
    @include type(
      (
        size: 14px,
        height: 14px,
        family: $secondaryfont,
        color: $purpledark,
        weight: 700,
      )
    );
  }
  &:hover {
    background: $purpledark;
    svg {
      path {
        fill: $white;
      }
    }
    span {
      color: $white;
    }
  }
}

.internal-calc {
  margin-bottom: 30px;
}
